.timer {
  margin: auto;
  display: flex;
  width: 10%;
  text-align: center;
}

.secs, .mins, .sep {
  display: inline-block;
  margin: auto;
  color: black;
  font-size: 300%;
}

.secs {
  float: right;
}

.mins {
  float: left;
}

.list {
  text-align: center;
  margin: auto;
  font-size: 200%;
}
